.footer {
    background-color: #212121;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 1em 0;
  }

  .itemMenu {
    color: #fff;
    width: max-content;
    font-size: 1.1rem;
  }

  .copylight {
    color: #fff;
    font-size: 1em;
  }