.content {
    padding-top: 20px;
    background-color: #eaeaf0;
  }

  .testScss {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #fff;
    border: 3px solid rgb(26, 24, 128);
    padding: 3rem;
  }